@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  // TODO fleiri grunn stillingar
  font-size: 16px;
}

//products
.cards {
  
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%; 
    margin-right: 10%;
  }

  &__col {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px; 

    @media (max-width: 501px) {
      width: 100%;
    }
    
    
    @media (min-width: 799px) {
      width: 50%;
    }
    
    @media (min-width: 1200px) {
      width: 33%;  
    } 
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  line-height: 3em;

  &__mynd {
    width: 70%;
  }

  &__takkar {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    flex-grow: 2;
      img {
        width: 15%;
      }
    }

  &__textbox {
    flex-grow: 3;
    input{
      width: 100%;
    }
  }
}

//staff
.staff-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;

  @media (min-width: 1200px) {
    margin-left: 15%;
    margin-right: 15%;

  }

}


.staff-card {
  background-color: transparent;
  position: relative;


  @media (max-width: 501px) {
    width: 100%;
  }
  
  @media (min-width: 502px) {
    width: 50%;
  }
  
  @media (min-width: 1200px) {
    width: 40%; 

  }
}

.staff-card-inner{
  height: 400px;
  width: 100%;
  transition: transform 0.3s;
  margin: 10px;
}


.staff-card-front, .staff-card-back{
  position: absolute;
	top: 0;
  left: 0;
  padding: 10px;
	margin: 10px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.3s;
}

.staff-card-front{
  img {
      height: 100%;
      width: 100%;
    }
}

.staff-card-back {
  background-color: white;
  color: black;
  max-width: 100%;

  text-align: center;

  transform: rotateY(180deg);

  &__texti{
    margin-top: 100px;
    font-size: 0.75em;
    line-height: 1.5em;

    h1 {
      margin-bottom: 25px;
    }
  }
}

.staff-card:hover .staff-card-front {
  transform: rotateY(180deg);
}

.staff-card:hover .staff-card-back {
  transform: rotateY(0deg);
}



//header
.header {

  background-color: #ff5000;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  
  &__link {
    flex-direction: row;
    align-self: center;
    text-decoration: none;
    color: black;
  }

  &__link:hover {
    color: white;
  }

  &__link--valinn {
    flex-direction: row;
    align-self: center;
    text-decoration: underline;
    color: black;
  }

  &__link--valinn:hover {
    color: white;
  }

  &__link--karfa {
    flex-direction: column;
    align-self: center;


    text-decoration: none;
    color: black;
  }

  &__link--karfa:hover {
    color: white;
  }

  img {
    width: 20%;
    height: auto;
  }
}

//footer
footer {
  background-color: #00b7ff;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: 16px;

  padding: 2rem;
  

  p{
    color: white;
    padding-top: 1rem;
  }

  p:hover{
    color: black;
  }

}

// TODO sækja allar sass skrár
//@import "scss/..."