@import "scss/config";

* {
  padding: 0;
  margin: 0;
}
$gutter: 20px;
*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  
}

main {
  transition-timing-function: ease-in-out;
  margin: $gutter auto;
  max-width: 1200px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'Oswald', serif;
}

h2{
  font-family: 'Oswald', serif;
}

h3{
  font-family: 'Oswald', serif;
  padding-bottom: $gutter;
}

//index

.grid {

  &__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1*$gutter;
    margin-right: -1*$gutter; 
    
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__col{
    width: 50%;
    padding-right: $gutter;
    padding-left: $gutter;

    display: flex;
    flex-direction: column;
    

    @media (max-width: 500px){
      width: 100%;
    }

    & > p{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
    }

    &__neðst {
      align-content: flex-end;
      margin-top: auto;
    }

  }

  &__titill{
    font-size: 36px;
    padding-bottom: 12px;
  }

  &__mynd{
    max-width: 100%;
    margin-bottom: $gutter;
  }

  &__text{
    align-self: stretch;

    & > p{
      line-height: 24px;
      margin-top: 2*$gutter;
      margin-bottom: 2*$gutter;
    }
  }

  &__reverse{
    @media (max-width: 500px){
      flex-direction: column-reverse;
    }
  }

  &__button1{
    background-color: #00b7ff;
    border-radius: 5px;
    padding-left: 4*$gutter;
    padding-right: 4*$gutter;
    padding-top: 0.5*$gutter;
    padding-bottom: 0.5*$gutter;

    margin-bottom: $gutter;
  }

  &__button{
    background-color: #00b7ff;
    border-radius: 5px;
    padding-left: 3*$gutter;
    padding-right: 3*$gutter;
    padding-top: 0.5*$gutter;
    padding-bottom: 0.5*$gutter;

    margin-bottom: $gutter;
  }

  &__button1:hover {
    background-color: #ff5000;
    color: white;
  }

  &__button:hover {
    background-color: #ff5000;
    color: white;
  }

  .form{

    & > label{
      margin-right: auto;
    }

    & > input{
      padding-top: 5px;
      padding-bottom: 5px;
    }

    & > button{
       
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 5px;
      padding-bottom: 5px;

      & > img{
        width: 16px;
      }
    }
  }
}

.takki {
  display: flex;
  justify-content: center;
  
  button {
  background-color: #00b7ff;
  border-radius: 5px;
  padding-left: 3*$gutter;
  padding-right: 3*$gutter;
  padding-top: 0.5*$gutter;
  padding-bottom: 0.5*$gutter;
  margin-bottom: $gutter;
  }

  :hover {
    background-color: #ff5000;
    color: white;
  }
}

//products
.cards {
  
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__col {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: $gutter; 

    @media (max-width: 500px) {
      width: 100%;
    }
    
    
    @media (min-width: 501px) {
      width: 50%;
    }
    
    @media (min-width: 801px) {
      width: 33%;  
    } 
  }

  &__col2{
    @media (max-width: 500px) {
      width: 100%;
    }
    
    @media (min-width: 501px) {
      width: 50%;
    }
    
    @media (min-width: 801px) {
      width: 50%;  
    } 
  }
}

.card {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: $gutter;
  padding: 10px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  line-height: 3em;

  &__mynd {
    width: 70%;
  }

  &__texti {
    height: 100px;
  }

  &__takkar {
    display: flex;
    justify-content: space-between;
  }

  &__reitir {
    display: flex;
    justify-content: space-between;

    input {
     margin-bottom: 0.5*$gutter;
     margin-top: 0.5*$gutter;
     width: 70%;
     
    }

    select {
    margin-bottom: 0.5*$gutter;
    margin-top: 0.5*$gutter;
    }
  }

  &__button {
    flex-grow: 2;
      img {
        width: 15%;
      }
    }

  &__textbox {
    flex-grow: 3;
    input{
      width: 100%;
    }
  }
}

.namskeid {
  width: 70%;
}

.postnumer {
  width: 70%;
}

.manAr {
  width: 70%;

  select {
   width: 35%;
  }
}

//staff
.staff-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin: 0.5*$gutter;
  margin-left: 10%;
  margin-right: 10%;
}

.staff-card {
  background-color: transparent;
  position: relative;


  @media (max-width: 501px) {
    width: 100%;
  }
  
  @media (min-width: 502px) {
    width: 50%;
    max-width: 315px;
  }
  
  @media (min-width: 1200px) {
    width: 40%; 

  }
}

.staff-card-inner{
  height: 400px;
  width: 100%;
  transition: transform 0.2s;
  margin: 0.5*$gutter;
}


.staff-card-front, .staff-card-back{
  position: absolute;
	top: 0;
  left: 0;
  padding: 10px;
	margin: 0.5*$gutter;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.2s;
}

.staff-card-front{
  img {
      height: 100%;
      width: 100%;
    }
}

.staff-card-back {
  background-color: white;
  color: black;
  max-width: 100%;

  text-align: center;

  transform: rotateY(180deg);

  &__texti{
    margin-top: 5*$gutter;
    font-size: 0.75em;
    line-height: 1.5em;

    h1 {
      margin-bottom: $gutter;
    }
  }
}

.staff-card:hover .staff-card-front {
  transform: rotateY(180deg);
}

.staff-card:hover .staff-card-back {
  transform: rotateY(0deg);
}

//header
.header {
  font-family: 'Oswald', serif;
  background-color: #ff5000;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  line-height: 24px;
  padding: 24px;
  
  &__titill{
    align-self: center;
    margin-bottom: 1.8*$gutter;
    font-weight: bold;
  }

  &__linkar{
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;

  }
  
  &__link {
    align-self: center;
    text-decoration: none;
    color: black;

    padding-left: 16px;
    padding-right: 16px;

    &__mynd{
      width: 20px;
      height: auto;
    }
  }

  &__link:hover {
    color: white;
  }

  &__link--valinn {
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: underline;
    color: black;
  }

  &__link--valinn:hover {
    color: white;
  }

  &__karfa{
    text-decoration: none;
    color: black;
  }
  }
}

//footer
.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00b7ff;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  line-height: 24px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__col{
    width: 25%;

    @media (max-width: 800px){
      width: 50%;
    }
  }

  &__col > h3{
    font-size: 18px;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  
  &__link {
    
    display: block;
    text-decoration: none;
    color: white;
    font-size: 12px;
  }

  &__link:hover{
    color: black;
  }

  &__neðst{
    padding-top: 32px;
    font-size: 12px;
    color: black;
    align-self: center;
  }
}

