@import "scss/config";

* {
  padding: 0;
  margin: 0;
}
$gutter: 20px;
*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  // TODO fleiri grunn stillingar
  font-size: 16px;
  
}

main {
  margin: $gutter auto;
  max-width: 1200px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'Oswald', serif;
}

h2{
  font-family: 'Oswald', serif;
}

h3{
  font-family: 'Oswald', serif;
}

//index

.grid{

  &__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1*$gutter;
    margin-right: -1*$gutter;   
  }

  &__col{
    width: 50%;
    padding-right: $gutter;
    padding-left: $gutter;

    @media (max-width: 500px){
      width: 100%;
    }
  }

  &__titill{
    font-size: 36px;
  }

  &__mynd{
    max-width: 100%;
    margin-bottom: $gutter;
  }

  &__text{
    align-self: stretch;

    & > p{
      margin-top: 2*$gutter;
      margin-bottom: 2*$gutter;
    }
  }

  &__reverse{
    @media (max-width: 500px){
      flex-direction: column-reverse;
    }
  }

  &__button1{
    background-color: #00b7ff;
    border-radius: 5px;
    padding-left: 4*$gutter;
    padding-right: 4*$gutter;
    padding-top: 0.5*$gutter;
    padding-bottom: 0.5*$gutter;

    margin-bottom: $gutter;
  }

  &__button{
    background-color: #00b7ff;
    border-radius: 5px;
    padding-left: 3*$gutter;
    padding-right: 3*$gutter;
    padding-top: 0.5*$gutter;
    padding-bottom: 0.5*$gutter;

    margin-bottom: $gutter;
  }

}


//products
.cards {
  
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //margin-left: 10%; 
    //margin-right: 10%;
  }

  &__col {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px; 

    @media (max-width: 500px) {
      width: 100%;
    }
    
    
    @media (min-width: 501px) {
      width: 50%;
    }
    
    @media (min-width: 801px) {
      width: 33%;  
    } 
  }

  &__col2{
    @media (max-width: 500px) {
      width: 100%;
    }
    
    
    @media (min-width: 501px) {
      width: 50%;
    }
    
    @media (min-width: 801px) {
      width: 50%;  
    } 
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
  line-height: 3em;

  &__mynd {
    width: 70%;
  }

  &__takkar {
    display: flex;
    justify-content: space-between;
  }

  &__reitir {
    //line-height: 1.5em;
    display: flex;
    justify-content: space-between;

    input {
     margin-bottom: 10px;
     margin-top: 10px;
     width: 70%;
     
    }

    select {
    margin-bottom: 10px;
    margin-top: 10px;
    //width: 70%
    }
  }

  &__button {
    flex-grow: 2;
      img {
        width: 15%;
      }
    }

  &__textbox {
    flex-grow: 3;
    input{
      width: 100%;
    }
  }
}

.namskeid {
  width: 70%;
}

.postnumer {
  width: 70%;
}

.manAr {
  width: 70%;

  select {
    width: 35%;
  }
}

//staff
.staff-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;

  @media (min-width: 1200px) {
    margin-left: 15%;
    margin-right: 15%;

  }

}


.staff-card {
  background-color: transparent;
  position: relative;


  @media (max-width: 501px) {
    width: 100%;
  }
  
  @media (min-width: 502px) {
    width: 50%;
  }
  
  @media (min-width: 1200px) {
    width: 40%; 

  }
}

.staff-card-inner{
  height: 400px;
  width: 100%;
  transition: transform 0.2s;
  margin: 10px;
}


.staff-card-front, .staff-card-back{
  position: absolute;
	top: 0;
  left: 0;
  padding: 10px;
	margin: 10px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.2s;
}

.staff-card-front{
  img {
      height: 100%;
      width: 100%;
    }
}

.staff-card-back {
  background-color: white;
  color: black;
  max-width: 100%;

  text-align: center;

  transform: rotateY(180deg);

  &__texti{
    margin-top: 100px;
    font-size: 0.75em;
    line-height: 1.5em;

    h1 {
      margin-bottom: 25px;
    }
  }
}

.staff-card:hover .staff-card-front {
  transform: rotateY(180deg);
}

.staff-card:hover .staff-card-back {
  transform: rotateY(0deg);
}



//header
.header {
  font-family: 'Oswald', serif;
  background-color: #ff5000;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;

  line-height: 24px;
  padding: 24px;
  

  &__titill{
    align-self: center;

    margin-bottom: 36px;
    font-weight: bold;
  }

  &__linkar{
    flex-direction: row;
    justify-content: space-between;
    align-self: center;

    font-weight: bold;
  }
  
  &__link {
    align-self: center;
    text-decoration: none;
    color: black;
    

    padding-left: 16px;
    padding-right: 16px;

    &__mynd{
      width: 20px;
      height: auto;
    }
  }

  &__link:hover {
    color: white;
  }

  &__link--valinn {
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
    text-decoration: underline;
    color: black;
  }

  &__link--valinn:hover {
    color: white;
  }

  &__link--karfa {
    align-self: center;
    text-decoration: none;
    color: black;
  }

  &__link--karfa:hover {
    color: white;
  }

  @media (min-width: 800px){
    &__link--karfa{
      align-self: flex-end;
      margin-top: -2*$gutter;
    }
  }
}

//footer
.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00b7ff;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  line-height: 24px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 2rem;
  padding-bottom: 2rem;

 
  &__col{
    width: 25%;

    @media (max-width: 800px){
      width: 50%;
    }

  }

  &__col > h3{
    font-size: 18px;
    padding-bottom: 12px;
    padding-top: 12px;
  }

  
  &__link {
    
    display: block;
    text-decoration: none;
    color: white;
    font-size: 12px;
  }

  &__link:hover{
    color: black;
  }

  &__neðst{
    padding-top: 32px;
    font-size: 12px;
    color: black;
    align-self: center;
  }

}

